html *
{
   font-family: Arial;
}

.font-white {
    color: #fff;
}

.font-tiny {
    font-size: 15px;
}

.span-2-box {
    display: flex;
    justify-content: space-between;
}

.indentation-small {
    margin-left: 20px;
}

.align-center {
    text-align: center;
}

.float-left-box {
    display:inline;
    float:left;
}