html *
{
   font-family: Arial;
}

.font-white {
    color: #fff;
}

.font-tiny {
    font-size: 15px;
}

.span-2-box {
    display: flex;
    justify-content: space-between;
}

.indentation-small {
    margin-left: 20px;
    margin-top: 10px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}