.homepage-main {
    height: 450px;
    background: rgb(2,0,36);
    background: linear-gradient(#B4FFF6 0%,  #EBFFFD 100%);
}

.home-main-left-button-group {
    width: 400px;
}

.home-main-left-text {
    font-size: 40px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}