.header-box {
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.header-nav-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 10px !important;
}
.header-button-box {
    margin-top: 5px !important;
}
